.Layout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Layout > header {
  flex: 0 0 auto;
  width: var(--container-width);
  height: calc(var(--container-height));
  z-index: 3;
}
.Layout > main {
  flex: 1 0 auto;
  width: 100%;
  padding-top: calc(var(--container-height-top));
  padding-bottom  : calc(var(--container-height-top));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(calc(var(--header-shodw-base-blur)/6));

}

.Layout > footer {
  height: 6vh;
}
