.Login{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 0.5s move 0.2s 1 both;
  }
 
  .Login input{
    caret-color: white ;
  }
  .Login .form {
    position: relative;
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: #171717;
    box-shadow: -30px 20px  15px rgba(0, 0, 0, 0.435);
    
  }
  .Login .form .logo {
    transform: rotate(-5deg);
    margin-bottom: 30px;
    
  }
  .Login .form label{
    color: azure;
    padding-left: 5px;
    padding-top: 20px;
    width: 70%;
  }
    
    .Login .form:hover {
      /* transform: scale(1.05); */
      border: 1px solid black;
    }
    
    .Login #heading {
      text-align: center;
      margin-top: 1.3em;
      color: rgb(255, 255, 255);
      font-size: 1.2em;
    }
    
    .Login .field {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
      border-radius: 25px;
      padding: 0.6em;
      border: none;
      outline: none;
      color: white;
      background-color: #171717;
      box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    }
    
    .Login .input-icon {
      height: 1.3em;
      width: 1.3em;
      fill: white;
    }
    
    .Login .input-field {
      background: none;
      border: none;
      outline: none;
      width: 100%;
      color: #d3d3d3;
    }
    
    .Login .form .btn {
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-top: 1.5em;
     
    }
    
    .Login .button1:disabled {
      background-color: none;
      color: #757272;
    }
    .Login .button1 {
      width: 160px;
      height : 120px;
      background-color: black;
      color: azure;
      word-wrap: break-word;
      font-size: 1.2rem;
      border: 5px double rgb(215, 170, 21);
      border-radius: 80% 0  80% 0;
    }
    
    .Login .button1:hover {
      background-color: rgba(0, 0, 0, 0.448);
      color: white;
      cursor: pointer;
    }
  
    @keyframes move {
      0%{
        scale: 0;
        /* transform: translate(400px,-200px); */
      }
      50%{
        
      }
      100%{
  
      }
    }