.Help{

    padding: 5%;

    height: 100%;
    width: 100%;
    /* background-color: antiquewhite; */
    bottom: 10%;
    right: 20%;
}

.Help h1{

    color: aliceblue;
}
.Help h2{

    color: aliceblue;
}
.Help h3{

    color: aliceblue;
}
.Help p{
    color: aliceblue;
}