.Coupons {
    height: 100%;
    width: 100%;
}

.Coupons .couponsShowCase {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Coupons .couponsShowCase .filterArea {
    height: 125px;
    width: 80%;
    display: flex;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,0) 20%, rgba(0,0,0,1) 62%);
}

.Coupons .couponsShowCase .filterArea .instructionsHolder>* {
    height: 30px;
    padding-top: 5px;
    
    
}

.Coupons .couponsShowCase .filterArea .instructionsHolder {
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    align-items: end;
    font-size: 1.1rem;
    gap: 10px;
}

.Coupons .couponsShowCase .filterArea .selectorHolder {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 100%;
}

.Coupons .couponsShowCase .filterArea .selectorHolder>* {
    height: 30px;
    width: 80%;
    /* height: 25px; */
    border: none;
}




.Coupons .couponsShowCase .headerHolder {
    display: flex;
    align-items: center;
    width: 100%;
    height: 130px;
    position: sticky;
    top: 10.5%;
    left: 0;
    z-index: 2;
    
}

.Coupons .couponsShowCase .couponsHolder {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    gap: 30px;
}

  .purchase {
    width: 160px;
    height : 120px;
    margin-left: 10%;
    /* padding-right: 2%; */
    background-color: black;
    color: azure;
    word-wrap: break-word;
    font-size: 1.2rem;
    /* transform: translate(150px,100px); */
    border: 5px double rgb(215, 170, 21);
    border-radius: 80% 0  80% 0;
    

  } 