.CouponDetail {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.contianer {
  width: 60%;
  height: calc(var(--container-admin-view-height));
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: var(--font1-sizeVW);
  background-color: black;
  overflow: hidden;
  box-shadow: inset 0 0 calc(var(--header-shodw-base-blur)/3) calc(var(--shodw-base-size)) rgb(247, 244, 244);
}

.contianer button {
  height: 90%;
  width: 60%;
  z-index: 2;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font1-sizeVW);
  font-weight: 600;
  color: aliceblue;
  background-color: var(--color-gold-brown);
  border: none;
}

.contianer .box1 {
  position: relative;
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contianer .box {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: rgba(5, 5, 5, 0.344);
}

.contianer .box1::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 60%;
  box-shadow:
    0 0 calc(var(--shodw-base-blur)) calc(var(--shodw-base-size)) var(--color-gold-neon),
    inset 0 0 calc(var(--shodw-base-blur)) calc(var(--shodw-base-size)) var(--color-gold-neon);
  border-radius: 50%;
  animation: spin 1s infinite linear;
  filter: blur(var(--filter));
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.CouponDetail .head {
  padding-left: 30px;
  padding-top: 40px;
  display: flex;
  height: 150px;
  width: 550px;
  padding-bottom: 50px;
}


.contianer .last-box {
  width: 50%;
}

.CouponDetail .detailPic {
  width: 40%;
  display: flex;
  justify-content: center;
}

.CouponDetail .detailPic>img {
  width: 130px;
  height: 130px;


}

.CouponDetail .buttonsArea {
  height: 130px;
  display: flex;
  width: 500px;
  justify-content: space-around;
}

.CouponDetail .buttonsArea  button {
  width: 30%;
  height: 80%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: black;
  color: aliceblue;
  word-wrap: break-word;
  font-size: 1.2rem;
  border: 5px double rgb(215, 170, 21);
  border-radius: 80% 0 80% 0;
}

.CouponDetail .head .details :nth-child(2) {

  padding-top: 10px;

}

.CouponDetail .head .details>* {

  padding-top: 3px;

}

.CouponDetail .head .details {
  padding-left: 5px;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: azure;
}

.head .detailContainer .details .price {
  display: flex;
  width: 80%;
  height: 10%;
  justify-content: space-around;

}

