html {
  height: 100dvh;
  width: 100dvw;
  /* background-image: url("./Assets/images/coubg.png"); */
  background-image: url("./Assets/images/nice.png");
  /* background-image: url("C:\Users\LenovoPC\Desktop\WhatsApp Image 2023-04-02 at 11.17.39.jpg"); */
  /* background-color: hsl(219, 79%, 72%); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

body * {
  margin: 0;
  padding: 0;
  caret-color: transparent;
}

body::-webkit-scrollbar {
  display: none;
}

* input {
  margin-bottom: 5px;
  caret-color: black;
}

:root {
  --container-width: 100dvw;
  --container-height: 11dvh;
  --container-admin-view-height: 22dvh;
  --container-height-top: 3dvh;
  --customPadding: 1vh;
  --font1-sizeVW: 5vh;
  --filter: 8vh;
  --header-shodw-base-location: 3vh;
  --header-shodw-base-blur: 7vh;
  --filter-heigth-position: 24dvh;
  --shodw-base-location: 3vh;
  --shodw-base-negative-location: 5vh;
  --shodw-base-size: 0.1vh;
  --shodw-base-blur: 24vh;
  --shodw-base-negative-size: 6vh;
  --color-gold-neon: #ce8c08;
  --color-gold-brown: #80570a;
  --logo-shadow-gold: #ffc800;
  --logo-shadow-white: #ffffff;
  --logo-shadow-black: #000000;
  --logo-shadow-red: #b80101d1;
  --logo-shadow-x: #fffffffb;

  --alertColor: #900f0ff7;
  --companyColor: #3e2ca2a5;
  --companyColor-heder: #3e2ca2;
  --customerColor: #3ca22ca5;
  --customerColor-header: #3ca22c;
  --couponColor: #af990f9b;
}

.scrollUp::after {
  content: "Up";
  position: absolute;
  bottom: -50%;
  right: 17%;
  border-radius: 10%;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.54);
  background-color: var(--color-gold-neon);
  color: #060606;
  font-size: 1.3rem;
  /* border: groove 3px orange; */

}

.toastDeleteButton {
  width: 30%;
  background-color: transparent;
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}

.MyToastDelete {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.MyToastDelete .toastDeleteButton:hover {
  scale: 1.4;
  background-color: var(--alertColor);
  color: white;
}

.emptyList {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 200px;
}


/* ERROR */
.inputError {
  background-color: #000000;
  border-radius: 10px;
  color: #761914;
  text-shadow: 0 0 10px 5px rgb(0, 0, 0);
  padding: 5px;
}


/* LIST CONTAINER */

/* LIST EREA */

.listArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.listArea .filers>input {
  height: 100%;
  width: 100%;
  margin: var(--font1-sizeVW);
  color: #0875ce;
  font-weight: 600;
}

.listContianer {
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30%;
}

.listHolder {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}

.oLdetailsemail {
  width: 50%;
  border-left: 2px solid rgba(92, 10, 174, 0.5);
  padding-left: 5px;
}

.oLdetailsfullName {
  border-right: 2px solid rgba(85, 22, 211, 0.5);
  width: 50%;
}

/* //CARD HOLDER  */

.cardHolder {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 1rem;
  align-items: center;
  background: rgba(253, 253, 253, 0.973);
  /* border-radius: 8%; */
  /* box-shadow: inset -1px 1px 19px #000000, inset 1px -1px 32px #000000,
    5px 5px 12px rgba(0, 0, 0, 0.517); */

  color: rgb(0, 0, 0);
}

.cardHolder:hover::after {
  content: "";

  position: absolute;
  width: 90%;
  height: 10%;
  bottom: -2%;
  right: -2%;
  background-color: rgba(0, 0, 0, 0.859);
  border: 2px solid rgba(255, 255, 255, 0.647);
  box-shadow: 0 0 15px 5px var(--color-gold-brown);
  border-radius: 100% 10px 20px 10px;
  animation: pulse 2s 1;
}

.cardHolder:hover::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 5%;
  top: -2%;
  left: -2%;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgba(255, 255, 255, 0.647);
  box-shadow: 0 0 15px 5px var(--color-gold-brown);
  border-radius: 20px 10px 100% 10px;
  animation: pulse 1.2s 1;
}

@keyframes pulse {
  0% {
    /* transform: scale(0.5); */
    opacity: 0;
  }

  100% {
    /* transform: scale(1.2); */
    opacity: 1;
  }
}

/* //ADD POPO */

.navLinkHolder {
  margin-top: var(--font1-sizeVW);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: groove 3px rgba(10, 10, 10, 0.254);
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.756);
  box-shadow: inset 0px 0px 10px 1px rgba(245, 163, 0, 0.874);
}


.listUpButton {
  position: sticky;
  bottom: 20px;
  right: 10px;
  display: flex;
  justify-content: end;
  width: 105%;
  text-shadow: 0 0 3px 23px rgb(214, 213, 212);
  color: #c3d00a;

}

.addCustomerContainer {
  height: 100%;
}

.navLinkHolder .addCustomerbutton {
  color: var(--customerColor);
}

.navLinkHolder .addCompanybutton {
  color: var(--companyColor);
  text-shadow: 0 0 1px rgb(252, 252, 252);
}

a {
  text-decoration: none;
}

.navLinkHolder a p {
  height: 100%;
  font-size: 2.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-out 2s;
  text-shadow: -3px 12px 5px rgba(0, 0, 0, 0.229);
  -webkit-animation: jump 2s ease 1s infinite normal;
  -moz-animation: jump 2s ease 1s infinite normal;
  -ms-animation: jump 2s ease 1s infinite normal;
  animation: jump 2s ease 1s infinite normal;
  font-size: 2rem;
  font-weight: 600;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  60% {
    /* -webkit-transform: translateY(-15px);
    transform: translateY(-15px); */
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-15px);
  }

  80% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

/* //ORDERD LIST   */

ol {
  width: 90%;
  height: 100%;
  border: 10px solid #e6e6e6;
  border-radius: 20px;
  box-shadow: 0 0 20px #e6e6e6, inset 0 0 20px 20px black;
  display: flex;
  flex-direction: column;
}

ol li button {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
}

.customerOl {
  background-color: var(--customerColor);
}

.companyOl {
  background-color: var(--companyColor);
}

.oLdetailsHeadersPrincipal {
  width: 80%;
  display: flex;
  justify-content: space-around;
}


.oLdetailsAction {
  width: 20%;
}

.oLdetailsHeaders * li {
  background-color: transparent;
  display: flex;
  padding-left:10px ;
  justify-content: start;
  box-sizing: border-box;
  
}

.oLdetailsHeaders {
  position: sticky;
  top: 10vh;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: solid 3px #000000;
  border-radius: 5px 5px 0 0;
  padding-top: 30px;
}

.customerOl .oLdetailsHeaders {
  background-color: var(--customerColor-header);
}

.companyOl .oLdetailsHeaders {
  background-color: var(--companyColor-heder);
}


ol li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  border-bottom: 2px solid black;
}


ol li .oLdetailsbtns {
  height: 80%;
  width: 20%;
  display: flex;
  padding: 1px;
  justify-content: center;
}

ol li .oLdetailsbtns button {
  /* border: groove 3px orange; */
  box-sizing: border-box;
  background-color: #000000;
  width: 80%;
  height: 80%;
  color: #fff;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

ol li .oLdetailsbtns .delete:hover {
  background-color: #671713;
scale: 1.2;  
  transform: translate(-20px, 0px);
}

.oLdetails {
  width: 90%;
  height: 100%;
  display: flex;
  padding-top: 10px;
}
.oLdetails:hover {
  box-shadow: inset 0 0 15px 2px rgba(245, 222, 179, 0.502);
  background-color: #e7edf280;
  

}